$title-font: 'Big Shoulders Display';
$text-font: 'Raleway';
$primary-color: purple;
$secondary-color: yellow;
$icon-size: 2.5rem;

/* whole document */
body {
    margin: 0;
    padding: 0;
    font-family: $text-font; /* need alt font */
    background-color: rgb(253, 237, 253);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4 {
    // text-align: center;
    font-family: $title-font;
    font-size: 48px;
}

h2 {
    font-size: 28px;
}

button {
    background-color: $secondary-color;
}

/* navigation */
nav {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    background-color: $primary-color;
    position: fixed;
    border-radius: 0 40px 10px 0;
    top: 5px;  
    width: calc(100% - 5px);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 24px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    color: white;
    font-family: $title-font;
    span {
        color: $secondary-color;
    }
}

.nav-links {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 5px 15px 5px 5px;
    li {
        margin-left: 20px;
    }
    a {
        color: white;
    }
}

/* contact button */
#contact {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    font-size: $icon-size;
    box-shadow: -3px -3px 2px rgba(0, 0, 0, 0.5);
}

/* footer */
footer {
    // text-align: center;
    background-color: $primary-color;
    padding: 20px;
    color: white;
}

/* blog */
h1 {
    text-align: center;
    margin-top: 100px;
}
.post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    // background-color: $primary-color;
    // margin: 10px;
    margin-top: 100px;
    border-radius: 10px;
    color: black;
    max-width: 1024px;
    margin: 100px auto 0;
}

.post h2 {
    margin: 10px 10px 0 10px;
}

.post h3 {
    text-align: right;
    margin: 10px;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: 0;
}

.post img {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: calc(100% - 20px);
    margin: 0 10px;
}

.post p {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px;
    font-size: 14px;
}

@media only screen and (min-width: 568px) { 
    nav {
        grid-template: 1fr / 1fr 1fr;
        .logo {
            margin-bottom: 5px;
        }
        .nav-links {
            justify-content: flex-end;
            margin-right: 30px;
        }
    }
}