@import 'template';
@import 'grid';

h1 {
    text-align: center;
    margin-top: 100px;
}

.post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    background-color: $primary-color;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

.post h2 {
    margin: 10px 10px 0 10px;
}

.post h3 {
    text-align: right;
    margin: 10px;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: 0;
}

.post img {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: calc(100% - 20px);
    margin: 0 10px;
}

.post p {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px;
    font-size: 14px;
}