/* whole document */
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
}

/* navigation */
nav {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    background-color: purple;
}

.nav-links {
    display: flex;
    margin-left: auto;
}

/* work section */
#work {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#work h1 {
    
}

#work div {
    
}

/* career section */

/* about section */
#about {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(2,1fr);
}

#about h1 {
    order: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.interest {

}

.developing {
    order: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.github {
    order: 2;
}

.linkedin {
    order: 3;
}

.music {
    order: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.system-building {
    order: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}

.upwork {
    order: 6;
}

.fiverr {
    order: 7;
}

.youtube {
    order: 8;
}

.patreon {
    order: 9;
}

/* contact button */
#contact {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/* footer */
footer {
    text-align: center;
    background-color: purple;
}

/* blog */
.post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.post h3 {
    text-align: right;
}

.post img {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.post p {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* game portfolio */
.game-preview {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
}

.technology-icons {
    display: flex;
}

.game-preview img {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
}