/* whole document */
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
}

/* navigation */
nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: purple;
}

.nav-links {
    display: flex;
    margin-left: auto;
}

/* work section */
#work {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#work h1 {
    
}

#work div {
    
}

/* career section */



/* about section */
#about {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(2,1fr);
}

/* contact button */
#contact {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/* footer */
footer {
    text-align: center;
    background-color: purple;
}
